swagger: "2.0"

info:
  version: 0.0.0
  title: Honeybee Server API
  description: A sample API definition for a honeybee server

schemes:
  - http
host: api.ladybug-tools.io
basePath: /api

paths:
  /definition:
    get:
      summary: Get some definition files
      description: Retrieves a list of definition uuids for a given filter.
      parameters:
        - name: size
          in: query
          description: Number of files returned
          type: integer
        - name: country
          in: query
          description: Country where definitions should be from
          type: string
      responses:
        200:
          description: A list of definitions matching the query parameters
          schema:
            properties:
              query:
                $ref: "#/definitions/QueryParameters"
              results:
                type: array
                items:
                  properties:
                    uuid:
                      type: string
                    definition:
                      $ref: "#/definitions/Definition"
        404:
          description: Couldn't find any definitions matching your search query... :(
    post:
      summary: Create a new definition file
      description: Adds a new definition file to the list
      parameters:
        - name: definition
          in: body
          description: The location of the definition.
          schema:
            $ref: "#/definitions/Definition"
      responses:
        204:
          description: definition succesfully created.
          schema:
            required:
              - uuid
            properties:
              uuid:
                type: string
        400:
          description: Could not create definition... :(
  /definition/{uuid}:
    delete:
      summary: Delete an existing definition file
      description: Delete an definition file in the database specifying the uuid of the file
      parameters:
        - name: uuid
          in: path
          required: true
          description: The unique identifier of the definition.
          type: string
      responses:
        200:
          description: File succesfully deleted
          schema:
            properties:
              uuid:
                type: string
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string
                example: "Somehow did not manage to delete the file..."
        404:
          description: File not found

    get:
      summary: Get a specific definition file
      description: Returns a single definition file
      parameters:
        - name: uuid
          required: true
          in: path
          description: The unique identifier of the definition.
          type: string
      responses:
        200:
          description: Succesfully returns the definition
          schema:
            required:
              - uuid
              - definition
            properties:
              uuid:
                type: string
              definition:
                $ref: "#/definitions/Definition"
        400:
          description: The uuid provided is invalid
        404:
          description: The definition does not exist

    put:
      summary: Modify an existing definition file
      description: Modifies any parameter (except uuid) of an definition file by completely replacing the definition file. A finer grain method can be set up later.
      parameters:
        - name: uuid
          in: path
          required: true
          description: The unique identifier of the definition.
          type: string
        - name: definition
          in: body
          description: The location of the definition.
          schema:
            $ref: "#/definitions/Definition"
      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string




definitions:

  Definition:
    properties:
      description:
        type: string
        example: Some object definition to reference in the api

  QueryParameters:
    properties:
      type:
        type: string
        example: The type of something the Definition is
