---
swagger: "2.0"
info:
  description: "A sample API definition for a honeybee server"
  version: "0.0.0"
  title: "Honeybee Server API"
host: "api.ladybug-tools.io"
basePath: "/api"
schemes:
- "http"
paths:
  /recipe/:
    get:
      tags:
      - "Get and Delete Recipes"
      summary: "Get a list of daylight recipe objects"
      description: "Retrieves a list of daylight recipe objects for a given filter."
      operationId: "recipe_get"
      parameters:
      - name: "size"
        in: "query"
        description: "Number of files returned"
        required: false
        type: "integer"
      - name: "country"
        in: "query"
        description: "Country where definitions should be from"
        required: false
        type: "string"
      responses:
        200:
          description: "A list of analysis_grids matching the query parameters"
          schema:
            $ref: "#/definitions/inline_response_200"
        404:
          description: "Couldnt find any definitions matching your search query...\
            \ :("
      x-swagger-router-controller: "swagger_server.controllers.get_and_delete_recipes_controller"
  /recipe/{uuid}:
    get:
      tags:
      - "Get and Delete Recipes"
      summary: "Get a specific analysis_grid file"
      description: "Returns a single analysis_grid file"
      operationId: "recipe_uuid_get"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the analysis_grid."
        required: true
        type: "string"
      responses:
        200:
          description: "Succesfully returns the recipe"
          schema:
            $ref: "#/definitions/GridBasedRecipeSchema"
        400:
          description: "The uuid provided is invalid"
        404:
          description: "The analysis_grid does not exist"
      x-swagger-router-controller: "swagger_server.controllers.get_and_delete_recipes_controller"
    delete:
      tags:
      - "Get and Delete Recipes"
      summary: "Delete an existing recipe object"
      description: "Delete an recipe object in the database specifying the uuid of\
        \ the file"
      operationId: "recipe_uuid_delete"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the recipe."
        required: true
        type: "string"
      responses:
        200:
          description: "File succesfully deleted"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
        404:
          description: "File not found"
      x-swagger-router-controller: "swagger_server.controllers.get_and_delete_recipes_controller"
  /recipe/daylight_factor/gridbased:
    post:
      tags:
      - "Daylight Factor"
      summary: "Create a new analysis_grid file"
      description: "Adds a new analysis_grid file to the list"
      operationId: "recipe_daylight_factor_gridbased_post"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A analysis_grid JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/DaylightFactorGridBasedSchema"
      responses:
        204:
          description: "daylight_factor recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
      x-swagger-router-controller: "swagger_server.controllers.daylight_factor_controller"
  /recipe/daylight_factor/gridbased/{uuid}:
    put:
      tags:
      - "Daylight Factor"
      summary: "Modify an existing analysis_grid file"
      description: "Modifies any parameter (except uuid) of a daylight_factor recipe\
        \ object by completely replacing the definition file. A finer grain method\
        \ can be set up later."
      operationId: "recipe_daylight_factor_gridbased_uuid_put"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the daylight_factor recipe."
        required: true
        type: "string"
      - in: "body"
        name: "recipe"
        description: "A analysis_grid JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/DaylightFactorGridBasedSchema"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
      x-swagger-router-controller: "swagger_server.controllers.daylight_factor_controller"
  /recipe/direct_reflection/gridbased:
    post:
      tags:
      - "Direct Reflection"
      summary: "Create a new direct_reflection file"
      description: "Adds a new direct_reflection file to the list"
      operationId: "recipe_direct_reflection_gridbased_post"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A direct_reflection JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/DirectReflectionGridBasedSchema"
      responses:
        204:
          description: "direct_reflection recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
      x-swagger-router-controller: "swagger_server.controllers.direct_reflection_controller"
  /recipe/direct_reflection/gridbased/{uuid}:
    put:
      tags:
      - "Direct Reflection"
      summary: "Modify an existing direct_reflection file"
      description: "Modifies any parameter (except uuid) of a direct_reflection recipe\
        \ object by completely replacing the definition file. A finer grain method\
        \ can be set up later."
      operationId: "recipe_direct_reflection_gridbased_uuid_put"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the direct_reflection recipe."
        required: true
        type: "string"
      - in: "body"
        name: "recipe"
        description: "A analysis_grid JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/DirectReflectionGridBasedSchema"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
      x-swagger-router-controller: "swagger_server.controllers.direct_reflection_controller"
  /recipe/solar_access/gridbased:
    post:
      tags:
      - "Solar Access"
      summary: "Create a new solar_access file"
      description: "Adds a new solar_access file to the list"
      operationId: "recipe_solar_access_gridbased_post"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A solar_access JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/SolarAccessGridBasedSchema"
      responses:
        204:
          description: "solar_access recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
      x-swagger-router-controller: "swagger_server.controllers.solar_access_controller"
  /recipe/solar_access/gridbased/{uuid}:
    put:
      tags:
      - "Solar Access"
      summary: "Modify an existing solar_access file"
      description: "Modifies any parameter (except uuid) of a solar_access recipe\
        \ object by completely replacing the definition file. A finer grain method\
        \ can be set up later."
      operationId: "recipe_solar_access_gridbased_uuid_put"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the solar_access recipe."
        required: true
        type: "string"
      - in: "body"
        name: "recipe"
        description: "A solar_access JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/SolarAccessGridBasedSchema"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
      x-swagger-router-controller: "swagger_server.controllers.solar_access_controller"
  /recipe/point_in_time/gridbased:
    post:
      tags:
      - "Point in Time"
      summary: "Create a new point_in_time file"
      description: "Adds a new point_in_time file to the list"
      operationId: "recipe_point_in_time_gridbased_post"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A point_in_time JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/PointInTimeGridBasedSchema"
      responses:
        204:
          description: "point_in_time recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create point_in_time recipe... :("
      x-swagger-router-controller: "swagger_server.controllers.point_in_time_controller"
  /recipe/point_in_time/gridbased/{uuid}:
    put:
      tags:
      - "Point in Time"
      summary: "Modify an existing point_in_time file"
      description: "Modifies any parameter (except uuid) of a point_in_time recipe\
        \ object by completely replacing the definition file. A finer grain method\
        \ can be set up later."
      operationId: "recipe_point_in_time_gridbased_uuid_put"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the point_in_time recipe."
        required: true
        type: "string"
      - in: "body"
        name: "recipe"
        description: "A analysis_grid JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/PointInTimeGridBasedSchema"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
      x-swagger-router-controller: "swagger_server.controllers.point_in_time_controller"
  /recipe/annual/gridbased:
    post:
      tags:
      - "Annual"
      summary: "Create a new annual file"
      description: "Adds a new annual file to the list"
      operationId: "recipe_annual_gridbased_post"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A annual JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/AnnualGridBasedSchema"
      responses:
        204:
          description: "annual recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create annual... :("
      x-swagger-router-controller: "swagger_server.controllers.annual_controller"
  /recipe/annual/gridbased/{uuid}:
    put:
      tags:
      - "Annual"
      summary: "Modify an existing annual file"
      description: "Modifies any parameter (except uuid) of a annual recipe object\
        \ by completely replacing the definition file. A finer grain method can be\
        \ set up later."
      operationId: "recipe_annual_gridbased_uuid_put"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the annual recipe."
        required: true
        type: "string"
      - in: "body"
        name: "recipe"
        description: "A annual JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/AnnualGridBasedSchema"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
      x-swagger-router-controller: "swagger_server.controllers.annual_controller"
  /recipe/radiation/gridbased:
    post:
      tags:
      - "Radiation"
      summary: "Create a new radiation file"
      description: "Adds a new radiation file to the list"
      operationId: "recipe_radiation_gridbased_post"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A radiation JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/RadiationGridBasedSchema"
      responses:
        204:
          description: "radiation recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
      x-swagger-router-controller: "swagger_server.controllers.radiation_controller"
  /recipe/radiation/gridbased/{uuid}:
    put:
      tags:
      - "Radiation"
      summary: "Modify an existing radiation file"
      description: "Modifies any parameter (except uuid) of a radiation recipe object\
        \ by completely replacing the definition file. A finer grain method can be\
        \ set up later."
      operationId: "recipe_radiation_gridbased_uuid_put"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the radiation recipe."
        required: true
        type: "string"
      - in: "body"
        name: "recipe"
        description: "A radiation JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/RadiationGridBasedSchema"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
      x-swagger-router-controller: "swagger_server.controllers.radiation_controller"
  /recipe/three_phase/gridbased:
    post:
      tags:
      - "Three Phase"
      summary: "Create a new three_phase file"
      description: "Adds a new three_phase file to the list"
      operationId: "recipe_three_phase_gridbased_post"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A three_phase JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/ThreePhaselGridBasedSchema"
      responses:
        204:
          description: "three_phase recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
      x-swagger-router-controller: "swagger_server.controllers.three_phase_controller"
  /recipe/three_phase/gridbased/{uuid}:
    put:
      tags:
      - "Three Phase"
      summary: "Modify an existing three_phase file"
      description: "Modifies any parameter (except uuid) of a three_phase recipe object\
        \ by completely replacing the definition file. A finer grain method can be\
        \ set up later."
      operationId: "recipe_three_phase_gridbased_uuid_put"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the three_phase recipe."
        required: true
        type: "string"
      - in: "body"
        name: "recipe"
        description: "A three_phase JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/ThreePhaselGridBasedSchema"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
      x-swagger-router-controller: "swagger_server.controllers.three_phase_controller"
  /recipe/five_phase/gridbased:
    post:
      tags:
      - "Five Phase"
      summary: "Create a new five_phase file"
      description: "Adds a new five_phase file to the list"
      operationId: "recipe_five_phase_gridbased_post"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A five_phase JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/FivePhaselGridBasedSchema"
      responses:
        204:
          description: "five_phase recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create five_phase... :("
      x-swagger-router-controller: "swagger_server.controllers.five_phase_controller"
  /recipe/five_phase/gridbased/{uuid}:
    put:
      tags:
      - "Five Phase"
      summary: "Modify an existing five_phase file"
      description: "Modifies any parameter (except uuid) of a five_phase recipe object\
        \ by completely replacing the definition file. A finer grain method can be\
        \ set up later."
      operationId: "recipe_five_phase_gridbased_uuid_put"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the five_phase recipe."
        required: true
        type: "string"
      - in: "body"
        name: "recipe"
        description: "A five_phase JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/FivePhaselGridBasedSchema"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
      x-swagger-router-controller: "swagger_server.controllers.five_phase_controller"
definitions:
  HoysSchema:
    type: "array"
    description: "A list of hours of the year"
    items:
      type: "integer"
      description: "min key value 0 and max key value 8760"
  LocationSchema:
    properties:
      city:
        type: "string"
      latitude:
        type: "number"
        description: "minvalue -90 and max value 90"
      longitude:
        type: "number"
        description: "minvalue -180 and max value 180"
      time_zone:
        type: "string"
      elevation:
        type: "number"
    example:
      elevation: 1.46581298050294517310021547018550336360931396484375
      city: "city"
      latitude: 0.80082819046101150206595775671303272247314453125
      time_zone: "time_zone"
      longitude: 6.02745618307040320615897144307382404804229736328125
  AnalysisType:
    type: "integer"
    description: "0 - illuminance(lux), 1 - radiation (kwh), 2 - luminance (Candela)"
    enum:
    - "0"
    - "1"
    - "2"
  RadianceParameters:
    type: "string"
    description: "A standard radiance parameter string"
    example: "-ab 5 -aa 0.05 -ar 128"
  SkySchema:
    properties:
      location:
        $ref: "#/definitions/LocationSchema"
      hour:
        type: "integer"
        description: "hour of the day - minvalue 0 and max value 23"
      day:
        type: "integer"
        description: "day of the month - minvalue 1 and max value 31"
      month:
        type: "integer"
        description: "month of the year - minvalue 1 and max value 12"
      north:
        type: "number"
        description: "angle in degrees between 0-360 to indicate North"
      sky_type:
        type: "integer"
        description: "0 - Sunny with sun, 1 - sunny without sun, 2 - intermediate\
          \ with sun, 3 - intermediate without sun, 4 - cloudy sky, 5 - uniform sky"
    example:
      hour: 0
      month: 1
      sky_type: 5
      north: 5.962133916683182377482808078639209270477294921875
      location:
        elevation: 1.46581298050294517310021547018550336360931396484375
        city: "city"
        latitude: 0.80082819046101150206595775671303272247314453125
        time_zone: "time_zone"
        longitude: 6.02745618307040320615897144307382404804229736328125
      day: 6
  SkyMtxSchema:
    properties:
      wea:
        $ref: "#/definitions/WeaSchema"
      sky_density:
        type: "integer"
        description: "1 - Tregenza Sky, 2 - Reinhart Sky, etc. (Default - 1)"
      north:
        type: "number"
        description: "angle in degrees between 0-360 to indicate North"
        minimum: 0
        maximum: 360
      hoys:
        $ref: "#/definitions/HoysSchema"
      mode:
        type: "integer"
        description: "sky mode"
      suffix:
        type: "string"
        description: "Suffix for the sky matrix"
    example:
      mode: 2
      hoys: ""
      wea:
        diffuse_horizontal_radiation:
          data:
          - standard: "null"
            nickname: "null"
          - standard: "null"
            nickname: "null"
          header: "{}"
        header:
        - "header"
        - "header"
        - "header"
        - "header"
        - "header"
        - "header"
        - "header"
        - "header"
        direct_normal_radiation:
          data:
          - standard: "null"
            nickname: "null"
          - standard: "null"
            nickname: "null"
          header: "{}"
        location:
          elevation: 1.46581298050294517310021547018550336360931396484375
          city: "city"
          latitude: -75.5850925717017929628127603791654109954833984375
          time_zone: "time_zone"
          longitude: 36.98842259053452607986400835216045379638671875
      north: 202.94555963879980708952643908560276031494140625
      sky_density: 5
      suffix: "suffix"
  GridBasedRecipeSchema:
    properties:
      uuid:
        type: "string"
        description: "The unique identifier of the recipe"
    example:
      uuid: "709116b8-d71e-4d50-bb54-216e83ad9f3f"
      recipe:
        id: "annual"
        type: "gridbased"
        sky_mtx:
          wea: "wea Json file"
          sky_density: 1
          north: 0
          mode: 2
          suffix: null
        analysis_grids:
        - "list of analysis grids"
        surfaces:
        - "list of surfaces"
        analysis_type: 2
        rad_parameters: "-ab 5 -aa 0.05 -ar 128"
  DaylightFactorGridBasedSchema:
    properties:
      id:
        type: "string"
        enum:
        - "daylight_factor"
      type:
        type: "string"
        enum:
        - "gridbased"
      analysis_grids:
        type: "array"
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: "array"
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      rad_parameters:
        $ref: "#/definitions/RadianceParameters"
    example:
      analysis_grids:
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        name: "name"
        window_groups: ""
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        name: "name"
        window_groups: ""
      surfaces:
      - parent_surface:
          rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        child_surfaces:
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
      - parent_surface:
          rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        child_surfaces:
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
      rad_parameters: "-ab 5 -aa 0.05 -ar 128"
      id: "daylight_factor"
      type: "gridbased"
  DirectReflectionGridBasedSchema:
    properties:
      id:
        type: "string"
        enum:
        - "direct_reflection"
      type:
        type: "string"
        enum:
        - "gridbased"
      analysis_grids:
        type: "array"
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: "array"
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      location:
        $ref: "#/definitions/LocationSchema"
      hoys:
        $ref: "#/definitions/HoysSchema"
      sun_vectors:
        type: "array"
        description: "A list of vectors if location is not provided"
        items:
          $ref: "#/definitions/VectorSchema"
    example:
      analysis_grids:
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        name: "name"
        window_groups: ""
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        name: "name"
        window_groups: ""
      hoys: ""
      surfaces:
      - parent_surface:
          rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        child_surfaces:
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
      - parent_surface:
          rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        child_surfaces:
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
      location:
        elevation: 1.46581298050294517310021547018550336360931396484375
        city: "city"
        latitude: 0.80082819046101150206595775671303272247314453125
        time_zone: "time_zone"
        longitude: 6.02745618307040320615897144307382404804229736328125
      id: "direct_reflection"
      sun_vectors:
      - x: 5.962133916683182377482808078639209270477294921875
        y: 5.63737665663332876420099637471139430999755859375
        z: 2.3021358869347654518833223846741020679473876953125
      - x: 5.962133916683182377482808078639209270477294921875
        y: 5.63737665663332876420099637471139430999755859375
        z: 2.3021358869347654518833223846741020679473876953125
      type: "gridbased"
  SolarAccessGridBasedSchema:
    properties:
      id:
        type: "string"
        enum:
        - "solar_access"
      type:
        type: "string"
        enum:
        - "gridbased"
      analysis_grids:
        type: "array"
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: "array"
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      location:
        $ref: "#/definitions/LocationSchema"
      hoys:
        $ref: "#/definitions/HoysSchema"
      sun_vectors:
        type: "array"
        description: "A list of vectors if location is not provided"
        items:
          $ref: "#/definitions/VectorSchema"
    example:
      analysis_grids:
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        name: "name"
        window_groups: ""
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        name: "name"
        window_groups: ""
      hoys: ""
      surfaces:
      - parent_surface:
          rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        child_surfaces:
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
      - parent_surface:
          rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        child_surfaces:
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 2.487364817930361571285402533248998224735260009765625
            name: "name"
          surface_type: 1.216273813801393099964798238943330943584442138671875
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
[...]
