swagger: "2.0"

info:
  version: 0.0.0
  title: Honeybee Server API
  description: A sample API definition for a honeybee server

schemes:
  - http
host: api.ladybug-tools.io
basePath: /api

paths:
  /material:
    get:
      summary: Get some material files
      description: Retrieves a list of material uuids for a given filter.
      tags:
        - Get and Delete Materials
      parameters:
        - name: size
          in: query
          description: Number of files returned
          type: integer
        - name: country
          in: query
          description: Country where definitions should be from
          type: string
      responses:
        200:
          description: A list of materials matching the query parameters
          schema:
            properties:
              query:
                properties:
                  size:
                    example: 5
                  country:
                    example: UK
              results:
                type: array
                items:
                  properties:
                    schema:
                      required:
                        - uuid
                        - material
                      properties:
                        uuid:
                          type: string
                          example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
                        material:
                          $ref: "#/definitions/MaterialSchema"

        404:
          description: Couldnt find any definitions matching your search query... :(

  /material/{uuid}:
    get:
      summary: Get a specific material file
      description: Returns a single material file
      tags:
        - Get and Delete Materials
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the material.
          type: string
      responses:
        200:
          description: Succesfully returns the material
          schema:
            required:
              - uuid
              - material
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
              material:
                $ref: "#/definitions/MaterialSchema"
        400:
          description: The uuid provided is invalid
        404:
          description: The material does not exist

    delete:
      summary: Delete an existing material file
      description: Delete an material file in the database specifying the uuid of the file
      tags:
        - Get and Delete Materials
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the material.
          type: string
      responses:
        200:
          description: File succesfully deleted
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string
        404:
          description: File not found


  /material/opaque:
    post:
      summary: Create a new opaque material object
      description: Adds a new opaque material json to the database
      tag:
        - Opaque Material
      parameters:
        - name: opaque_material
          in: body
          description: an opaque material object
          required: true
          schema:
                $ref: "#/definitions/OpaqueMaterialSchema"
      responses:
        204:
          description: opaque material succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create opaque material... :(

  /material/opaque/{uuid}:
    put:
      summary: Modify an existing opaque material file
      description: Modifies any parameter (except uuid) of a material file by completely replacing the definition file. A finer grain method can be set up later.
      tag:
        - Opaque Material
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the material.
          type: string
        - name: opaque_material
          in: body
          description: an opaque material object
          required: true
          schema:
                $ref: "#/definitions/OpaqueMaterialSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

  /material/translucent:
    post:
      summary: Create a new translucent material object
      description: Adds a new translucent material json to the database
      tag:
        - Translucent Material
      parameters:
        - name: translucent_material
          in: body
          description: a translucent material object
          required: true
          schema:
                $ref: "#/definitions/TranslucentMaterialSchema"
      responses:
        204:
          description: translucent material succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create material... :(

  /material/translucent/{uuid}:
    put:
      summary: Modify an existing translucent material file
      description: Modifies any parameter (except uuid) of a material file by completely replacing the definition file. A finer grain method can be set up later.
      tag:
        - Translucent Material
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the material.
          type: string
        - name: translucent_material
          in: body
          description: a translucent material object
          required: true
          schema:
                $ref: "#/definitions/TranslucentMaterialSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

  /material/light_source:
    post:
      summary: Create a new light_source material object
      description: Adds a new light_source material json to the database
      tag:
        - Light Source Material
      parameters:
        - name: light_source_material
          in: body
          description: a light_source material object
          required: true
          schema:
                $ref: "#/definitions/LightSourceMaterialSchema"
      responses:
        204:
          description: light_source material succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create material... :(

  /material/light_source/{uuid}:
    put:
      summary: Modify an existing light_source material file
      description: Modifies any parameter (except uuid) of a material file by completely replacing the definition file. A finer grain method can be set up later.
      tag:
        - Light Source Material
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the material.
          type: string
        - name: light_source_material
          in: body
          description: a light_source material object
          required: true
          schema:
                $ref: "#/definitions/LightSourceMaterialSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

  /material/bsdf:
    post:
      summary: Create a new bsdf material object
      description: Adds a new bsdf material json to the database
      tag:
        - BSDF Material
      parameters:
        - name: bsdf_material
          in: body
          description: a bsdf material object
          required: true
          schema:
                $ref: "#/definitions/BSDFMaterialSchema"
      responses:
        204:
          description: bsdf material succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create material... :(

  /material/bsdf/{uuid}:
    put:
      summary: Modify an existing bsdf material file
      description: Modifies any parameter (except uuid) of a material file by completely replacing the definition file. A finer grain method can be set up later.
      tag:
        - BSDF Material
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the material.
          type: string
        - name: bsdf_material
          in: body
          description: a bsdf material object
          required: true
          schema:
                $ref: "#/definitions/BSDFMaterialSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

definitions:
  MaterialSchema:
    properties:
      type:
        description: The type of material
        type: string
      material: {}

    example:
      type: opaque
      material:
        name: HoneyComb
        type: plastic
        r_reflectance: 0.4
        g_reflectance: 0.5
        b_reflectance: 0.2
        refraction: 0.4
        specularity: 0.01
        roughness: 0.03
        modifier: void

  TranslucentMaterialSchema:
    properties:
      name:
        description: Name of the material
        type: string
      r_transmittance:
        description: Transmittance for red
        type: number
        minimum: 0
        maximum: 1
      g_transmittance:
        description: Transmittance for green
        type: number
        minimum: 0
        maximum: 1
      b_transmittance:
        description: Transmittance for blue
        type: number
        minimum: 0
        maximum: 1
      refraction:
        description: Index of refraction
        type: number
        minimum: 0
        maximum: 1
      modifier:
        type: string
        default: void

  OpaqueMaterialSchema:
    properties:
      name:
        description: Name of the material
        type: string
      type:
        description: Material type
        type: string
        enum: [metal, plastic]
      r_reflectance:
        description: Reflectance for red
        type: number
        minimum: 0
        maximum: 1
      g_reflectance:
        description: Reflectance for green
        type: number
        minimum: 0
        maximum: 1
      b_reflectance:
        description: Reflectance for blue
        type: number
        minimum: 0
        maximum: 1
      refraction:
        description: Index of refraction
        type: number
        minimum: 0
        maximum: 1
      specularity:
        description: Material specularity
        type: number
      roughness:
        description: Material roughness
        type: number
      modifier:
        type: string
        default: void

  LightSourceMaterialSchema:
    properties:
      name:
        description: Name of the material
        type: string
      red:
        description: A positive value for the Red channel of the glow
        type: number
        minimum: 0
        maximum: 1
      green:
        description: A positive value for the Green channel of the glow
        type: number
        minimum: 0
        maximum: 1
      blue:
        description: A positive value for the Blue channel of the glow
        type: number
        minimum: 0
        maximum: 1
      radius:
        description: Maximum radius for shadow testing
        type: number
      modifier:
        type: string
        default: void

  BSDFMaterialSchema:
    properties:
      name:
        description: Name of the material
        type: string
      xml_data:
        description: A string of the original XML
        type: string
      up_orientation:
        type: number
      thickness:
        type: number
      modifier:
        type: string
        default: void

  QueryParameters:
    properties:
      type:
        type: string
        example: The type of something the Definition is
