swagger: "2.0"

info:
  version: 0.0.0
  title: Honeybee Server API
  description: A sample API definition for a honeybee server

schemes:
  - http
host: api.ladybug-tools.io
basePath: /api

paths:
  /recipe/:
    get:
      summary: Get a list of daylight recipe objects
      description: Retrieves a list of daylight recipe objects for a given filter.
      tags:
        - Get and Delete Recipes
      parameters:
        - name: size
          in: query
          description: Number of files returned
          type: integer
        - name: country
          in: query
          description: Country where definitions should be from
          type: string
      responses:
        200:
          description: A list of analysis_grids matching the query parameters
          schema:
            properties:
              query:
                properties:
                  size:
                    example: 5
                  country:
                    example: UK
              results:
                type: array
                items:
                  $ref: "#/definitions/GridBasedRecipeSchema"

        404:
          description: Couldnt find any definitions matching your search query... :(

  /recipe/{uuid}:
    get:
      summary: Get a specific analysis_grid file
      description: Returns a single analysis_grid file
      tags:
        - Get and Delete Recipes
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the analysis_grid.
          type: string
      responses:
        200:
          description: Succesfully returns the recipe
          schema:
            $ref: "#/definitions/GridBasedRecipeSchema"


        400:
          description: The uuid provided is invalid
        404:
          description: The analysis_grid does not exist

    delete:
      summary: Delete an existing recipe object
      description: Delete an recipe object in the database specifying the uuid of the file
      tags:
        - Get and Delete Recipes
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the recipe.
          type: string
      responses:
        200:
          description: File succesfully deleted
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string
        404:
          description: File not found

# DAYLIGHT FACTOR RECIPE
  /recipe/daylight_factor/gridbased:
    post:
      summary: Create a new analysis_grid file
      description: Adds a new analysis_grid file to the list
      tags:
        - Daylight Factor
      parameters:
        - in: body
          name: recipe
          description: A analysis_grid JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/DaylightFactorGridBasedSchema"

      responses:
        204:
          description: daylight_factor recipe succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create analysis_grid... :(

  /recipe/daylight_factor/gridbased/{uuid}:
    put:
      summary: Modify an existing analysis_grid file
      description: Modifies any parameter (except uuid) of a daylight_factor recipe object by completely replacing the definition file. A finer grain method can be set up later.
      tags:
        - Daylight Factor
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the daylight_factor recipe.
          type: string
        - in: body
          name: recipe
          description: A analysis_grid JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/DaylightFactorGridBasedSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

# DIRECT REFLECTION RECIPE
  /recipe/direct_reflection/gridbased:
    post:
      summary: Create a new direct_reflection file
      description: Adds a new direct_reflection file to the list
      tags:
        - Direct Reflection
      parameters:
        - in: body
          name: recipe
          description: A direct_reflection JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/DirectReflectionGridBasedSchema"

      responses:
        204:
          description: direct_reflection recipe succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create analysis_grid... :(

  /recipe/direct_reflection/gridbased/{uuid}:
    put:
      summary: Modify an existing direct_reflection file
      description: Modifies any parameter (except uuid) of a direct_reflection recipe object by completely replacing the definition file. A finer grain method can be set up later.
      tags:
        - Direct Reflection
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the direct_reflection recipe.
          type: string
        - in: body
          name: recipe
          description: A analysis_grid JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/DirectReflectionGridBasedSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

# SOLAR ACCESS RECIPE
  /recipe/solar_access/gridbased:
    post:
      summary: Create a new solar_access file
      description: Adds a new solar_access file to the list
      tags:
        - Solar Access
      parameters:
        - in: body
          name: recipe
          description: A solar_access JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/SolarAccessGridBasedSchema"

      responses:
        204:
          description: solar_access recipe succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create analysis_grid... :(

  /recipe/solar_access/gridbased/{uuid}:
    put:
      summary: Modify an existing solar_access file
      description: Modifies any parameter (except uuid) of a solar_access recipe object by completely replacing the definition file. A finer grain method can be set up later.
      tags:
        - Solar Access
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the solar_access recipe.
          type: string
        - in: body
          name: recipe
          description: A solar_access JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/SolarAccessGridBasedSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string


# POINT IN TIME RECIPE
  /recipe/point_in_time/gridbased:
    post:
      summary: Create a new point_in_time file
      description: Adds a new point_in_time file to the list
      tags:
        - Point in Time
      parameters:
        - in: body
          name: recipe
          description: A point_in_time JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/PointInTimeGridBasedSchema"

      responses:
        204:
          description: point_in_time recipe succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create point_in_time recipe... :(

  /recipe/point_in_time/gridbased/{uuid}:
    put:
      summary: Modify an existing point_in_time file
      description: Modifies any parameter (except uuid) of a point_in_time recipe object by completely replacing the definition file. A finer grain method can be set up later.
      tags:
        - Point in Time
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the point_in_time recipe.
          type: string
        - in: body
          name: recipe
          description: A analysis_grid JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/PointInTimeGridBasedSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

# ANNUAL RECIPE
  /recipe/annual/gridbased:
    post:
      summary: Create a new annual file
      description: Adds a new annual file to the list
      tags:
        - Annual
      parameters:
        - in: body
          name: recipe
          description: A annual JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/AnnualGridBasedSchema"

      responses:
        204:
          description: annual recipe succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create annual... :(

  /recipe/annual/gridbased/{uuid}:
    put:
      summary: Modify an existing annual file
      description: Modifies any parameter (except uuid) of a annual recipe object by completely replacing the definition file. A finer grain method can be set up later.
      tags:
        - Annual
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the annual recipe.
          type: string
        - in: body
          name: recipe
          description: A annual JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/AnnualGridBasedSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

# RADIATION RECIPE
  /recipe/radiation/gridbased:
    post:
      summary: Create a new radiation file
      description: Adds a new radiation file to the list
      tags:
        - Radiation
      parameters:
        - in: body
          name: recipe
          description: A radiation JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/RadiationGridBasedSchema"

      responses:
        204:
          description: radiation recipe succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create analysis_grid... :(

  /recipe/radiation/gridbased/{uuid}:
    put:
      summary: Modify an existing radiation file
      description: Modifies any parameter (except uuid) of a radiation recipe object by completely replacing the definition file. A finer grain method can be set up later.
      tags:
        - Radiation
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the radiation recipe.
          type: string
        - in: body
          name: recipe
          description: A radiation JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/RadiationGridBasedSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

# THREE PHASE RECIPE
  /recipe/three_phase/gridbased:
    post:
      summary: Create a new three_phase file
      description: Adds a new three_phase file to the list
      tags:
        - Three Phase
      parameters:
        - in: body
          name: recipe
          description: A three_phase JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/ThreePhaselGridBasedSchema"

      responses:
        204:
          description: three_phase recipe succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create analysis_grid... :(

  /recipe/three_phase/gridbased/{uuid}:
    put:
      summary: Modify an existing three_phase file
      description: Modifies any parameter (except uuid) of a three_phase recipe object by completely replacing the definition file. A finer grain method can be set up later.
      tags:
        - Three Phase
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the three_phase recipe.
          type: string
        - in: body
          name: recipe
          description: A three_phase JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/ThreePhaselGridBasedSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

# FIVE PHASE RECIPE
  /recipe/five_phase/gridbased:
    post:
      summary: Create a new five_phase file
      description: Adds a new five_phase file to the list
      tags:
        - Five Phase
      parameters:
        - in: body
          name: recipe
          description: A five_phase JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/FivePhaselGridBasedSchema"

      responses:
        204:
          description: five_phase recipe succesfully created.
          schema:
            properties:
              uuid:
                type: string
                example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create five_phase... :(

  /recipe/five_phase/gridbased/{uuid}:
    put:
      summary: Modify an existing five_phase file
      description: Modifies any parameter (except uuid) of a five_phase recipe object by completely replacing the definition file. A finer grain method can be set up later.
      tags:
        - Five Phase
      parameters:
        - in: path
          name: uuid
          required: true
          description: The unique identifier of the five_phase recipe.
          type: string
        - in: body
          name: recipe
          description: A five_phase JSON filer with a uuid key.
          required: true
          schema:
            $ref: "#/definitions/FivePhaselGridBasedSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string

definitions:

  HoysSchema:
    type: array
    description: A list of hours of the year
    items:
      type: integer
      description: min key value 0 and max key value 8760

  LocationSchema:
    properties:
      city:
        type: string
      latitude:
        description: minvalue -90 and max value 90
        type: number
      longitude:
        description: minvalue -180 and max value 180
        type: number
      time_zone:
        type: string
      elevation:
        type: number

  AnalysisType:
    type: integer
    enum: [0,1,2]
    description: 0 - illuminance(lux), 1 - radiation (kwh), 2 - luminance (Candela)

  RadianceParameters:
    type: string
    description: A standard radiance parameter string
    example: -ab 5 -aa 0.05 -ar 128

  SkySchema:
    properties:
      location:
        $ref: "#/definitions/LocationSchema"
      hour:
        type: integer
        description: hour of the day - minvalue 0 and max value 23
      day:
        type: integer
        description: day of the month - minvalue 1 and max value 31
      month:
        type: integer
        description: month of the year - minvalue 1 and max value 12
      north:
        type: number
        description: angle in degrees between 0-360 to indicate North
      sky_type:
        type: integer
        enum: [0,1,2,3,4,5]
        description: 0 - Sunny with sun, 1 - sunny without sun, 2 - intermediate with sun, 3 - intermediate without sun, 4 - cloudy sky, 5 - uniform sky


  SkyMtxSchema:
    properties:
      wea:
        $ref: "#/definitions/WeaSchema"
      sky_density:
        type: integer
        enum: [1,2]
        description: 1 - Tregenza Sky, 2 - Reinhart Sky, etc. (Default - 1)
      north:
        type: number
        minimum: 0
        maximum: 360
        description: angle in degrees between 0-360 to indicate North
      hoys:
        $ref: "#/definitions/HoysSchema"
      mode:
        type: integer
        enum: [0,1,2]
        description: sky mode
      suffix:
        type: string
        description: Suffix for the sky matrix


  GridBasedRecipeSchema:
    properties:
      uuid:
        description: The unique identifier of the recipe
        type: string
      recipe: {}
    example:
      uuid: 709116b8-d71e-4d50-bb54-216e83ad9f3f
      recipe:
        id: annual
        type: gridbased
        sky_mtx:
          wea: wea Json file
          sky_density: 1
          north: 0
          mode: 2
          suffix: null
        analysis_grids: [list of analysis grids]
        surfaces: [list of surfaces]
        analysis_type: 2
        rad_parameters: -ab 5 -aa 0.05 -ar 128

  DaylightFactorGridBasedSchema:
    properties:
      id:
        type: string
        enum: [daylight_factor]
      type:
        type: string
        enum: [gridbased]
      analysis_grids:
        type: array
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: array
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      rad_parameters:
        $ref: "#/definitions/RadianceParameters"


  DirectReflectionGridBasedSchema:
    properties:
      id:
        type: string
        enum: [direct_reflection]
      type:
        type: string
        enum: [gridbased]
      analysis_grids:
        type: array
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: array
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      location:
        $ref: "#/definitions/LocationSchema"
      hoys:
        $ref: "#/definitions/HoysSchema"
      sun_vectors:
        type: array
        description: A list of vectors if location is not provided
        items:
          $ref: "#/definitions/VectorSchema"

  SolarAccessGridBasedSchema:
    properties:
      id:
        type: string
        enum: [solar_access]
      type:
        type: string
        enum: [gridbased]
      analysis_grids:
        type: array
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: array
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      location:
        $ref: "#/definitions/LocationSchema"
      hoys:
        $ref: "#/definitions/HoysSchema"
      sun_vectors:
        type: array
        description: A list of vectors if location is not provided
        items:
          $ref: "#/definitions/VectorSchema"

  PointInTimeGridBasedSchema:
    properties:
      id:
        type: string
        enum: [point_in_time]
      type:
        type: string
        enum: [gridbased]
      analysis_grids:
        type: array
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: array
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      sky:
        $ref: "#/definitions/SkySchema"
      analysis_type:
        $ref: "#/definitions/AnalysisType"
      rad_parameters:
        $ref: "#/definitions/RadianceParameters"

  AnnualGridBasedSchema:
    example:
      id: annual
      type: gridbased
      sky_mtx:
        wea: wea Json file
        sky_density: 1
        north: 0
        mode: 2
        suffix: null
      analysis_grids:
        type: array
        items:
          analysis_grid: an analysis grid Json file
      surfaces:
        type: array
        items:
          surface: an surface Json file
      analysis_type: 2
      rad_parameters: -ab 5 -aa 0.05 -ar 128
    properties:
      id:
        type: string
        enum: [annual]
      type:
        type: string
        enum: [gridbased]
      sky_mtx:
        $ref: "#/definitions/SkyMtxSchema"
      analysis_grids:
        type: array
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: array
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      analysis_type:
        $ref: "#/definitions/AnalysisType"
      rad_parameters:
        $ref: "#/definitions/RadianceParameters"

  RadiationGridBasedSchema:
    properties:
      id:
        type: string
        enum: [radiation]
      type:
        type: string
        enum: [gridbased]
      sky_mtx:
        $ref: "#/definitions/SkyMtxSchema"
      analysis_grids:
        type: array
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: array
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      rad_parameters:
        $ref: "#/definitions/RadianceParameters"

  ThreePhaselGridBasedSchema:
    properties:
      id:
        type: string
        enum: [three_phase]
      type:
        type: string
        enum: [gridbased]
      sky_mtx:
        $ref: "#/definitions/SkyMtxSchema"
      analysis_grids:
        type: array
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: array
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      analysis_type:
        $ref: "#/definitions/AnalysisType"
      view_mtx_parameters:
        $ref: "#/definitions/RadianceParameters"
      daylight_mtx_parameters:
        $ref: "#/definitions/RadianceParameters"

  FivePhaselGridBasedSchema:
    properties:
      id:
        type: string
        enum: [five_phase]
      type:
        type: string
        enum: [gridbased]
      sky_mtx:
        $ref: "#/definitions/SkyMtxSchema"
      analysis_grids:
        type: array
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: array
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      analysis_type:
        $ref: "#/definitions/AnalysisType"
      view_mtx_parameters:
        $ref: "#/definitions/RadianceParameters"
      daylight_mtx_parameters:
        $ref: "#/definitions/RadianceParameters"

  PointSchema:
    properties:
      x:
        type: number
      y:
        type: number
      z:
        type: number

  VectorSchema:
    properties:
      x:
        type: number
      y:
        type: number
      z:
        type: number

  HoySchema:
    properties:
      hoy_id:
        type: integer
        description: The hour of the year for a given set of results values
      hoy:
        properties:
          direct_value:
            type: number
          indirect_value:
            type: number

  StateSchema:
    properties:
      state_id:
        type: string
        description: The id of a given state for the source of light
      state:
        type: array
        items:
          $ref: "#/definitions/HoySchema"


  SourceSchema:
    properties:
      source_id:
        type: string
        description: The id of a source of light
      source:
        type: array
        items:
          $ref: "#/definitions/StateSchema"

  AnalysisPointSchema:
    properties:
      location:
        $ref: "#/definitions/PointSchema"
      direction:
        $ref: "#/definitions/VectorSchema"
      values:
        type: array
        items:
          $ref: "#/definitions/SourceSchema"

  AnalysisGridSchema:
    properties:
      name:
        type: string
        description: The name of the grid
      analysis_points:
        type: array
        items:
          $ref: "#/definitions/AnalysisPointSchema"
      window_groups:
        type: array
        items:
          description: Name of a window group which contributes to the grid.


  VertexSchema:
    type: array
    minimum: 3
    items:
      properties:
        x:
          type: number
        y:
          type: number
        z:
          type: number

  SurfacePropertySchema:
    properties:
      surface_type:
        type: number
        minimum: 0
        maximum: 6
        description: 0.0=Wall, 0.5=UndergroundWall, 1.0=Roof, 1.5=UndergroundCeiling, 2.0=Floor, 2.5=SlabOnGrade, 2.75=ExposedFloor, 3.0=Ceiling, 5.0=Window, 6.0=Context
      rad_properties:
        $ref: "#/definitions/MaterialSchema"

  SurfaceStateSchema:
    properties:
      name:
        type: string
        description: name of the state, usually default
      surface_properties:
        $ref: "#/definitions/SurfacePropertySchema"


  AnalysisSurfaceSchema:
    properties:
      name:
        type: string
        description: The name of the surface
      surface_type:
        type: number
        minimum: 0
        maximum: 6
        description: 0.0=Wall, 0.5=UndergroundWall, 1.0=Roof, 1.5=UndergroundCeiling, 2.0=Floor, 2.5=SlabOnGrade, 2.75=ExposedFloor, 3.0=Ceiling, 5.0=Window, 6.0=Context
      vertices:
        type: array
        items:
          $ref: "#/definitions/VertexSchema"
      rad_properties:
        properties:
          uuid:
            type: string
          material:
            $ref: "#/definitions/MaterialSchema"
      surface_states:
        type: array
        items:
          $ref: "#/definitions/SurfaceStateSchema"

  HBSurfaceSchema:
    properties:
      parent_surface:
        $ref: "#/definitions/AnalysisSurfaceSchema"
      child_surfaces:
        type: array
        items:
          $ref: "#/definitions/AnalysisSurfaceSchema"

  MaterialSchema:
    properties:
      type:
        description: The type of material
        type: string
      material: {}
        # oneOf:
        #   - $ref: "#/definitions/TranslucentMaterial"
        #   - $ref: "#/definitions/OpaqueMaterial"
        #   - $ref: "#/definitions/LightSourceMaterial"
        #   - $ref: "#/definitions/BSDFMaterial"
    example:
      type: opaque
      material:
        name: HoneyComb
        type: plastic
        r_reflectance: 0.4
        g_reflectance: 0.5
        b_reflectance: 0.2
        refraction: 0.4
        specularity: 0.01
        roughness: 0.03
        modifier: void

  TranslucentMaterialSchema:
    properties:
      name:
        description: Name of the material
        type: string
      r_transmittance:
        description: Transmittance for red
        type: number
        minimum: 0
        maximum: 1
      g_transmittance:
        description: Transmittance for green
        type: number
        minimum: 0
        maximum: 1
      b_transmittance:
        description: Transmittance for blue
        type: number
        minimum: 0
        maximum: 1
      refraction:
        description: Index of refraction
        type: number
        minimum: 0
        maximum: 1
      modifier:
        type: string
        default: void

  OpaqueMaterialSchema:
    properties:
      name:
        description: Name of the material
        type: string
      type:
        description: Material type
        type: string
        enum: [metal, plastic]
      r_reflectance:
        description: Reflectance for red
        type: number
        minimum: 0
        maximum: 1
      g_reflectance:
        description: Reflectance for green
        type: number
        minimum: 0
        maximum: 1
      b_reflectance:
        description: Reflectance for blue
        type: number
        minimum: 0
        maximum: 1
      refraction:
        description: Index of refraction
        type: number
        minimum: 0
        maximum: 1
      specularity:
        description: Material specularity
        type: number
      roughness:
        description: Material roughness
        type: number
      modifier:
        type: string
        default: void

  LightSourceMaterialSchema:
    properties:
      name:
        description: Name of the material
        type: string
      red:
        description: A positive value for the Red channel of the glow
        type: number
        minimum: 0
        maximum: 1
      green:
        description: A positive value for the Green channel of the glow
        type: number
        minimum: 0
        maximum: 1
      blue:
        description: A positive value for the Blue channel of the glow
        type: number
        minimum: 0
        maximum: 1
      radius:
        description: Maximum radius for shadow testing
        type: number
      modifier:
        type: string
        default: void

  BSDFMaterialSchema:
    properties:
      name:
        description: Name of the material
        type: string
      xml_data:
        description: A string of the original XML
        type: string
      up_orientation:
        type: number
      thickness:
        type: number
      modifier:
        type: string
        default: void


  WeaSchema:
    required:
      - location
      - header
      - data
    properties:
      header:
        type: array
        minItems: 8
        maxItems: 8
        items:
          type: string
      location:
        $ref: "#/definitions/Location"
      direct_normal_radiation:
        $ref: "#/definitions/DataCollection"
      diffuse_horizontal_radiation:
          $ref: "#/definitions/DataCollection"


  Location:
    properties:
      city:
        type: string
      latitude:
        minimum: -90
        maximum: 90
        type: number
      longitude:
        minimum: -180
        maximum: 180
        type: number
      time_zone:
        type: string
      elevation:
        type: number

  DataCollection:
    required:
      - data
    properties:
      header:
        type: object
      data:
        type: array
        items:
          $ref: "#/definitions/DataType"

  DataType:
    required:
      - value
      - datetime
      - standard
      - nickname
    properties:
      value:
        allOf:
          - type: string
          - type: number
      datetime:
        default: null
      standard:
        type: string
        default: null
        enum: [SI, IP]
      nickname:
        type: string
        default: null

  QueryParameters:
    properties:
      type:
        type: string
        example: The type of something the Definition is
