swagger: "2.0"

info:
  version: 0.0.0
  title: Honeybee Server API
  description: A sample API definition for a honeybee server

schemes:
  - http
host: api.ladybug-tools.io
basePath: /api

paths:
  /wea:
    get:
      summary: Get a list of WEA objects
      description: Retrieves a list of wea objects for a given filter.
      tags:
        - WEA
      parameters:
        - $ref: "#/parameters/CountryParameter"
      responses:
        200:
          description: A list of weas matching the query parameters
          schema:
            properties:
              results:
                type: array
                items:
                  properties:
                    uuid:
                      type: string
                    hbsurface:
                      $ref: "#/definitions/WeaSchema"
        404:
          description: Couldn't find any weas matching your search query... :(
    post:
      summary: Create a new wea object
      description: Adds a new wea object to the list
      tags:
        - WEA
      parameters:
        - name: wea
          in: body
          description: a wea object
          required: true
          schema:
                $ref: "#/definitions/WeaSchema"
      responses:
        204:
          description: wea succesfully created.
          schema:
                properties:
                  uuid:
                    type: string
                    example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create wea... :(

  /wea/{uuid}:
    parameters:
      - name: uuid
        required: true
        in: path
        description: The unique identifier of the wea.
        type: string

    get:
      summary: Get a specific wea object
      description: Returns a single wea object
      tags:
        - WEA
      responses:
        200:
          description: Succesfully returns the wea
          schema:
                required:
                  - uuid
                  - wea
                properties:
                  uuid:
                    type: string
                  wea:
                    $ref: "#/definitions/WeaSchema"
        400:
          description: The uuid provided is invalid
        404:
          description: The wea does not exist

    put:
      summary: Modify an existing wea object
      description: Modifies any parameter (except uuid) of an wea object by completely replacing the wea object. A finer grain method can be set up later.
      tags:
        - WEA
      parameters:
        - name: wea
          in: body
          description: a wea object
          required: true
          schema:
                $ref: "#/definitions/WeaSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string
    delete:
      summary: Delete an existing wea object
      description: Delete an wea object in the database specifying the uuid of the object
      tags:
        - WEA
      responses:
        200:
          description: object succesfully deleted
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string
        404:
          description: object not found

definitions:
  
  WeaSchema:
    required:
      - location
      - header
      - data
    properties:
      header:
        type: array
        minItems: 8
        maxItems: 8
        items:
          type: string
      location:
        $ref: "#/definitions/LocationSchema"
      direct_normal_radiation:
        $ref: "#/definitions/DataCollectionSchema"
      diffuse_horizontal_radiation:
          $ref: "#/definitions/DataCollectionSchema"
