swagger: "2.0"

info:
  version: 0.0.0
  title: Honeybee Server API
  description: A sample API definition for a honeybee server

schemes:
  - http
host: api.ladybug-tools.io
basePath: /api

paths:
  /wea:
    get:
      summary: Get some wea files
      description: Retrieves a list of wea uuids for a given filter.
      tags:
        - WEA
      parameters:
        - name: size
          in: query
          description: Number of files returned
          type: integer
        - name: country
          in: query
          description: Country where definitions should be from
          type: string
      responses:
        200:
          description: A list of weas matching the query parameters
          schema:
            properties:
              query:
                properties:
                  size:
                    example: 5
                  country:
                    example: UK
        404:
          description: Couldn't find any weas matching your search query... :(
    post:
      summary: Create a new wea file
      description: Adds a new wea file to the list
      tags:
        - WEA
      parameters:
        - name: wea
          in: body
          description: a wea file
          required: true
          schema:
                $ref: "#/definitions/WeaSchema"
      responses:
        204:
          description: wea succesfully created.
          schema:
                properties:
                  uuid:
                    type: string
                    example: 1a390fe5-9b53-4c52-9ecb-aa2f9633babd
        400:
          description: Could not create wea... :(

  /wea/{uuid}:
    get:
      summary: Get a specific wea file
      description: Returns a single wea file
      tags:
        - WEA
      parameters:
        - name: uuid
          required: true
          in: path
          description: The unique identifier of the wea.
          type: string
      responses:
        200:
          description: Succesfully returns the wea
          schema:
                required:
                  - uuid
                  - wea
                properties:
                  uuid:
                    type: string
                  wea:
                    $ref: "#/definitions/WeaSchema"
        400:
          description: The uuid provided is invalid
        404:
          description: The wea does not exist

    put:
      summary: Modify an existing wea file
      description: Modifies any parameter (except uuid) of an wea file by completely replacing the wea file. A finer grain method can be set up later.
      tags:
        - WEA
      parameters:
        - name: uuid
          in: path
          required: true
          description: The unique identifier of the wea.
          type: string
        - name: wea
          in: body
          description: a wea file
          required: true
          schema:
                $ref: "#/definitions/WeaSchema"

      responses:
        200:
          description: Everything went smooth and well
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string
    delete:
      summary: Delete an existing wea file
      description: Delete an wea file in the database specifying the uuid of the file
      tags:
        - WEA
      parameters:
        - name: uuid
          in: path
          required: true
          description: The unique identifier of the wea.
          type: string
      responses:
        200:
          description: File succesfully deleted
        400:
          description: Bad request, something went wrong... :(
          schema:
            properties:
              error:
                type: string
        404:
          description: File not found

definitions:
  WeaSchema:
    required:
      - location
      - header
      - data
    properties:
      header:
        type: array
        minItems: 8
        maxItems: 8
        items:
          type: string
      location:
        $ref: "#/definitions/LocationSchema"
      direct_normal_radiation:
        $ref: "#/definitions/DataCollectionSchema"
      diffuse_horizontal_radiation:
          $ref: "#/definitions/DataCollectionSchema"


  LocationSchema:
    properties:
      city:
        type: string
      latitude:
        minimum: -90
        maximum: 90
        type: number
      longitude:
        minimum: -180
        maximum: 180
        type: number
      time_zone:
        type: string
      elevation:
        type: number

  DataCollectionSchema:
    required:
      - data
    properties:
      header:
        type: object
      data:
        type: array
        items:
          $ref: "#/definitions/DataType"

  DataTypeSchema:
    required:
      - value
      - datetime
      - standard
      - nickname
    properties:
      value:
        allOf:
          - type: string
          - type: number
      datetime:
        default: null
      standard:
        type: string
        default: null
        enum: [SI, IP]
      nickname:
        type: string
        default: null

  QueryParameters:
    properties:
      type:
        type: string
        example: The type of something the Definition is
