---
swagger: "2.0"
info:
  description: "A sample API definition for a honeybee server"
  version: "0.0.0"
  title: "Honeybee Server API"
host: "api.ladybug-tools.io"
basePath: "/api"
schemes:
- "http"
paths:
  /analysis_grid:
    get:
      tags:
      - "Analysis Grid"
      summary: "Get a list of analysis_grid objects"
      description: "Retrieves a list of analysis grids for a given filter."
      parameters:
      - name: "grid_name"
        in: "query"
        description: "The name of the grid"
        required: false
        type: "string"
        x-exportParamName: "GridName"
      - name: "min_points"
        in: "query"
        description: "The minimum amount of points the analysis grid has"
        required: false
        type: "integer"
        x-exportParamName: "MinPoints"
      - name: "max_points"
        in: "query"
        description: "The maximum amount of points the analysis grid has"
        required: false
        type: "integer"
        x-exportParamName: "MaxPoints"
      responses:
        200:
          description: "A list of analysis_grids matching the query parameters"
          schema:
            $ref: "#/definitions/inline_response_200"
        400:
          description: "Couldn't find any definitions matching your search query...\
            \ :("
    post:
      tags:
      - "Analysis Grid"
      summary: "Create a new analysis_grid file"
      description: "Adds a new analysis_grid file to the list"
      parameters:
      - in: "body"
        name: "analysis_grid"
        description: "A analysis_grid JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/AnalysisGridSchema"
        x-exportParamName: "AnalysisGrid"
      responses:
        204:
          description: "analysis_grid succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
  /analysis_grid/{uuid}:
    get:
      tags:
      - "Analysis Grid"
      summary: "Get an analysis_grid object"
      description: "Returns a single analysis_grid object based on the provided uuid"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the analysis_grid."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "Succesfully returns the analysis_grid"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        400:
          description: "The uuid provided is invalid"
        404:
          description: "The analysis_grid does not exist"
    put:
      tags:
      - "Analysis Grid"
      summary: "Modify an existing analysis_grid file"
      description: "Modifies any parameter (except uuid) of an analysis_grid file\
        \ by completely replacing the definition file. A finer grain method can be\
        \ set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the analysis_grid."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "analysis_grid"
        description: "A analysis_grid JSON filer with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/AnalysisGridSchema"
        x-exportParamName: "AnalysisGrid"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
    delete:
      tags:
      - "Analysis Grid"
      summary: "Delete an existing analysis_grid file"
      description: "Delete an analysis_grid file in the database specifying the uuid\
        \ of the file"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the analysis_grid."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "File succesfully deleted"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
        404:
          description: "File not found"
  /epw:
    get:
      tags:
      - "EPW"
      summary: "Get a list of EPW objects"
      description: "Retrieves a list of epw objects for a given filter."
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "query"
        description: "The countyr the EPW is from"
        required: false
        type: "string"
        x-exportParamName: "Country"
      responses:
        200:
          description: "A list of epws matching the query parameters"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        404:
          description: "Couldn't find any EPWs matching your search query... :("
    post:
      tags:
      - "EPW"
      summary: "Create a new epw file"
      description: "Adds a new epw file to the list"
      parameters:
      - in: "body"
        name: "epw"
        description: "The location of the epw."
        required: true
        schema:
          $ref: "#/definitions/EpwSchema"
        x-exportParamName: "Epw"
      responses:
        204:
          description: "Epw succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create epw... :("
  /epw/{uuid}:
    get:
      tags:
      - "EPW"
      summary: "Get a specific epw file"
      description: "Returns a single epw file"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the epw."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "Succesfully returns the EPW"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        400:
          description: "The uuid provided is invalid"
        404:
          description: "The epw does not exist"
    put:
      tags:
      - "EPW"
      summary: "Modify an existing epw file"
      description: "Modifies any parameter (except uuid) of an epw file by completely\
        \ replacing the EPW file. A finer grain method can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the epw."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "epw"
        description: "The location of the epw."
        required: true
        schema:
          $ref: "#/definitions/EpwSchema"
        x-exportParamName: "Epw"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
    delete:
      tags:
      - "EPW"
      summary: "Delete an existing epw file"
      description: "Delete an epw file in the database specifying the uuid of the\
        \ file"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the epw."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "File succesfully deleted"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
        404:
          description: "File not found"
  /material:
    get:
      tags:
      - "Get and Delete Materials"
      summary: "Get a list of material objects"
      description: "Retrieves a list of material uuids for a given filter."
      parameters:
      - name: "material_type"
        in: "query"
        description: "The type of the material to be queried"
        required: false
        type: "string"
        enum:
        - "opaque"
        - "translucent"
        - "light_source"
        - "bsdf"
        x-exportParamName: "MaterialType"
      - name: "rgb_transmittance"
        in: "query"
        description: "The RGB average transmittance value (will only return translucent\
          \ material)"
        required: false
        type: "number"
        maximum: 1
        minimum: 0
        x-exportParamName: "RgbTransmittance"
      - name: "rgb_reflectance"
        in: "query"
        description: "The RGB average reflectance value (will only return opaque material)"
        required: false
        type: "number"
        maximum: 1
        minimum: 0
        x-exportParamName: "RgbReflectance"
      responses:
        200:
          description: "A list of materials matching the query parameters"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        404:
          description: "Couldnt find any definitions matching your search query...\
            \ :("
  /material/{uuid}:
    get:
      tags:
      - "Get and Delete Materials"
      summary: "Get a specific material object"
      description: "Returns a single material object"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the material."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "Succesfully returns the material"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        400:
          description: "The uuid provided is invalid"
        404:
          description: "The material does not exist"
    delete:
      tags:
      - "Get and Delete Materials"
      summary: "Delete an existing material file"
      description: "Delete an material file in the database specifying the uuid of\
        \ the file"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the material."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "File succesfully deleted"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
        404:
          description: "File not found"
  /material/opaque:
    post:
      tags:
      - "Opaque Material"
      summary: "Create a new opaque material object"
      description: "Adds a new opaque material object to the database"
      parameters:
      - in: "body"
        name: "opaque_material"
        description: "an opaque material object"
        required: true
        schema:
          $ref: "#/definitions/OpaqueMaterialSchema"
        x-exportParamName: "OpaqueMaterial"
      responses:
        204:
          description: "opaque material succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create opaque material... :("
  /material/opaque/{uuid}:
    put:
      tags:
      - "Opaque Material"
      summary: "Modify an existing opaque material file"
      description: "Modifies any parameter (except uuid) of a material file by completely\
        \ replacing the definition file. A finer grain method can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the material."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "opaque_material"
        description: "an opaque material object"
        required: true
        schema:
          $ref: "#/definitions/OpaqueMaterialSchema"
        x-exportParamName: "OpaqueMaterial"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /material/translucent:
    post:
      tags:
      - "Translucent Material"
      summary: "Create a new translucent material object"
      description: "Adds a new translucent material object to the database"
      parameters:
      - in: "body"
        name: "translucent_material"
        description: "a translucent material object"
        required: true
        schema:
          $ref: "#/definitions/TranslucentMaterialSchema"
        x-exportParamName: "TranslucentMaterial"
      responses:
        204:
          description: "translucent material succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create material... :("
  /material/translucent/{uuid}:
    put:
      tags:
      - "Translucent Material"
      summary: "Modify an existing translucent material file"
      description: "Modifies any parameter (except uuid) of a material file by completely\
        \ replacing the definition file. A finer grain method can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the material."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "translucent_material"
        description: "a translucent material object"
        required: true
        schema:
          $ref: "#/definitions/TranslucentMaterialSchema"
        x-exportParamName: "TranslucentMaterial"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /material/light_source:
    post:
      tags:
      - "Light Source Material"
      summary: "Create a new light_source material object"
      description: "Adds a new light_source material object to the database"
      parameters:
      - in: "body"
        name: "light_source_material"
        description: "a light_source material object"
        required: true
        schema:
          $ref: "#/definitions/LightSourceMaterialSchema"
        x-exportParamName: "LightSourceMaterial"
      responses:
        204:
          description: "light_source material succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create material... :("
  /material/light_source/{uuid}:
    put:
      tags:
      - "Light Source Material"
      summary: "Modify an existing light_source material file"
      description: "Modifies any parameter (except uuid) of a material file by completely\
        \ replacing the definition file. A finer grain method can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the material."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "light_source_material"
        description: "a light_source material object"
        required: true
        schema:
          $ref: "#/definitions/LightSourceMaterialSchema"
        x-exportParamName: "LightSourceMaterial"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /material/bsdf:
    post:
      tags:
      - "BSDF Material"
      summary: "Create a new bsdf material object"
      description: "Adds a new bsdf material object to the database"
      parameters:
      - in: "body"
        name: "bsdf_material"
        description: "a bsdf material object"
        required: true
        schema:
          $ref: "#/definitions/BSDFMaterialSchema"
        x-exportParamName: "BsdfMaterial"
      responses:
        204:
          description: "bsdf material succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create material... :("
  /material/bsdf/{uuid}:
    put:
      tags:
      - "BSDF Material"
      summary: "Modify an existing bsdf material file"
      description: "Modifies any parameter (except uuid) of a material file by completely\
        \ replacing the definition file. A finer grain method can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the material."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "bsdf_material"
        description: "a bsdf material object"
        required: true
        schema:
          $ref: "#/definitions/BSDFMaterialSchema"
        x-exportParamName: "BsdfMaterial"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /recipe/:
    get:
      tags:
      - "Get and Delete Recipes"
      summary: "Get a list of daylight recipe objects"
      description: "Retrieves a list of daylight recipe objects for a given filter."
      parameters:
      - name: "type"
        in: "query"
        description: "The type of recipe to be retrieved"
        required: false
        type: "string"
        enum:
        - "daylight_factor"
        - "direct_reflection"
        - "solar_access"
        - "point_in_time"
        - "annual"
        - "radiation"
        - "three_phase"
        - "five_phase"
        x-exportParamName: "Type_"
      - name: "location"
        in: "query"
        description: "The location where the weather sky is generated from (can be\
          \ country or city, will only work for climate based recipes)"
        required: false
        type: "string"
        x-exportParamName: "Location"
      - name: "state"
        in: "query"
        description: "The state of the recipe on the server (whether it has run, is\
          \ running, has failed or is on hold)"
        required: false
        type: "string"
        enum:
        - "success"
        - "fail"
        - "running"
        - "waiting"
        x-exportParamName: "State"
      responses:
        200:
          description: "A list of analysis_grids matching the query parameters"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        404:
          description: "Couldn't find any definitions matching your search query...\
            \ :("
  /recipe/{uuid}:
    get:
      tags:
      - "Get and Delete Recipes"
      summary: "Get a specific analysis_grid object"
      description: "Returns a single analysis_grid object"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the analysis_grid."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "Succesfully returns the recipe"
          schema:
            $ref: "#/definitions/GridBasedRecipeSchema"
        400:
          description: "The uuid provided is invalid"
        404:
          description: "The analysis_grid does not exist"
    delete:
      tags:
      - "Get and Delete Recipes"
      summary: "Delete an existing recipe object"
      description: "Delete an recipe object in the database specifying the uuid of\
        \ the object"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the analysis_grid."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "object succesfully deleted"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
        404:
          description: "object not found"
  /recipe/daylight_factor/gridbased:
    post:
      tags:
      - "Daylight Factor Recipe"
      summary: "Create a new analysis_grid object"
      description: "Adds a new analysis_grid object to the list"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A analysis_grid JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/DaylightFactorGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        204:
          description: "daylight_factor recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
  /recipe/daylight_factor/gridbased/{uuid}:
    put:
      tags:
      - "Daylight Factor Recipe"
      summary: "Modify an existing analysis_grid object"
      description: "Modifies any parameter (except uuid) of a daylight_factor recipe\
        \ object by completely replacing the definition object. A finer grain method\
        \ can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the daylight_factor recipe."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "recipe"
        description: "A analysis_grid JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/DaylightFactorGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /recipe/direct_reflection/gridbased:
    post:
      tags:
      - "Direct Reflection Recipe"
      summary: "Create a new direct_reflection object"
      description: "Adds a new direct_reflection object to the list"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A direct_reflection JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/DirectReflectionGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        204:
          description: "direct_reflection recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
  /recipe/direct_reflection/gridbased/{uuid}:
    put:
      tags:
      - "Direct Reflection Recipe"
      summary: "Modify an existing direct_reflection object"
      description: "Modifies any parameter (except uuid) of a direct_reflection recipe\
        \ object by completely replacing the definition object. A finer grain method\
        \ can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the direct_reflection recipe."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "recipe"
        description: "A analysis_grid JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/DirectReflectionGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /recipe/solar_access/gridbased:
    post:
      tags:
      - "Solar Access Recipe"
      summary: "Create a new solar_access object"
      description: "Adds a new solar_access object to the list"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A solar_access JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/SolarAccessGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        204:
          description: "solar_access recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
  /recipe/solar_access/gridbased/{uuid}:
    put:
      tags:
      - "Solar Access Recipe"
      summary: "Modify an existing solar_access object"
      description: "Modifies any parameter (except uuid) of a solar_access recipe\
        \ object by completely replacing the definition object. A finer grain method\
        \ can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the solar_access recipe."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "recipe"
        description: "A solar_access JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/SolarAccessGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /recipe/point_in_time/gridbased:
    post:
      tags:
      - "Point in Time Recipe"
      summary: "Create a new point_in_time object"
      description: "Adds a new point_in_time object to the list"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A point_in_time JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/PointInTimeGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        204:
          description: "point_in_time recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create point_in_time recipe... :("
  /recipe/point_in_time/gridbased/{uuid}:
    put:
      tags:
      - "Point in Time Recipe"
      summary: "Modify an existing point_in_time object"
      description: "Modifies any parameter (except uuid) of a point_in_time recipe\
        \ object by completely replacing the definition object. A finer grain method\
        \ can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the point_in_time recipe."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "recipe"
        description: "A analysis_grid JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/PointInTimeGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /recipe/annual/gridbased:
    post:
      tags:
      - "Annual Recipe"
      summary: "Create a new annual object"
      description: "Adds a new annual object to the list"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A annual JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/AnnualGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        204:
          description: "annual recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create annual... :("
  /recipe/annual/gridbased/{uuid}:
    put:
      tags:
      - "Annual Recipe"
      summary: "Modify an existing annual object"
      description: "Modifies any parameter (except uuid) of a annual recipe object\
        \ by completely replacing the definition object. A finer grain method can\
        \ be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the annual recipe."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "recipe"
        description: "A annual JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/AnnualGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /recipe/radiation/gridbased:
    post:
      tags:
      - "Radiation Recipe"
      summary: "Create a new radiation object"
      description: "Adds a new radiation object to the list"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A radiation JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/RadiationGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        204:
          description: "radiation recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
  /recipe/radiation/gridbased/{uuid}:
    put:
      tags:
      - "Radiation Recipe"
      summary: "Modify an existing radiation object"
      description: "Modifies any parameter (except uuid) of a radiation recipe object\
        \ by completely replacing the definition object. A finer grain method can\
        \ be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the radiation recipe."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "recipe"
        description: "A radiation JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/RadiationGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /recipe/three_phase/gridbased:
    post:
      tags:
      - "Three Phase Recipe"
      summary: "Create a new three_phase object"
      description: "Adds a new three_phase object to the list"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A three_phase JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/ThreePhaselGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        204:
          description: "three_phase recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create analysis_grid... :("
  /recipe/three_phase/gridbased/{uuid}:
    put:
      tags:
      - "Three Phase Recipe"
      summary: "Modify an existing three_phase object"
      description: "Modifies any parameter (except uuid) of a three_phase recipe object\
        \ by completely replacing the definition object. A finer grain method can\
        \ be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the three_phase recipe."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "recipe"
        description: "A three_phase JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/ThreePhaselGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /recipe/five_phase/gridbased:
    post:
      tags:
      - "Five Phase Recipe"
      summary: "Create a new five_phase object"
      description: "Adds a new five_phase object to the list"
      parameters:
      - in: "body"
        name: "recipe"
        description: "A five_phase JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/FivePhaselGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        204:
          description: "five_phase recipe succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create five_phase... :("
  /recipe/five_phase/gridbased/{uuid}:
    put:
      tags:
      - "Five Phase Recipe"
      summary: "Modify an existing five_phase object"
      description: "Modifies any parameter (except uuid) of a five_phase recipe object\
        \ by completely replacing the definition object. A finer grain method can\
        \ be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the five_phase recipe."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "recipe"
        description: "A five_phase JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/FivePhaselGridBasedSchema"
        x-exportParamName: "Recipe"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
  /hbsurface:
    get:
      tags:
      - "Honeybee Surface"
      summary: "Get a list of hbsurface objects"
      description: "Retrieves a list of HoneyBee Surface objects for a given filter."
      parameters:
      - name: "surface_type"
        in: "query"
        description: "The type of the surface to be queried"
        required: false
        type: "string"
        enum:
        - "wall"
        - "underground_wall"
        - "roof"
        - "underground_ceiling"
        - "floor"
        - "slab_on_grade"
        - "exposed_floor"
        - "ceiling"
        - "window"
        - "context"
        x-exportParamName: "SurfaceType"
      - name: "surface_material"
        in: "query"
        description: "retrieve surfaces based on the name of their main material definiton\
          \ (not materials in a given surface state)"
        required: false
        type: "string"
        x-exportParamName: "SurfaceMaterial"
      - name: "surface_state"
        in: "query"
        description: "retrieve a surface using the name of a given state it contains"
        required: false
        type: "string"
        x-exportParamName: "SurfaceState"
      responses:
        200:
          description: "A list of hbsurfaces matching the query parameters"
          schema:
            $ref: "#/definitions/inline_response_200_7"
        404:
          description: "Couldnt find any definitions matching your search query...\
            \ :("
    post:
      tags:
      - "Honeybee Surface"
      summary: "Create a new hbsurface object"
      description: "Adds a new hbsurface object to the list"
      parameters:
      - in: "body"
        name: "hbsurface"
        description: "A hbsurface JSON object"
        required: true
        schema:
          $ref: "#/definitions/HBSurfaceSchema"
        x-exportParamName: "Hbsurface"
      responses:
        204:
          description: "hbsurface succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create hbsurface... :("
  /hbsurface/{uuid}:
    get:
      tags:
      - "Honeybee Surface"
      summary: "Get a specific hbsurface object"
      description: "Returns a single hbsurface object"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the hbsurface."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "Succesfully returns the hbsurface"
          schema:
            $ref: "#/definitions/inline_response_200_8"
        400:
          description: "The uuid provided is invalid"
        404:
          description: "The hbsurface does not exist"
    put:
      tags:
      - "Honeybee Surface"
      summary: "Modify an existing hbsurface object"
      description: "Modifies any parameter (except uuid) of an hbsurface object by\
        \ completely replacing the definition object. A finer grain method can be\
        \ set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the hbsurface."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "hbsurface"
        description: "A hbsurface JSON objectr with a uuid key."
        required: true
        schema:
          $ref: "#/definitions/HBSurfaceSchema"
        x-exportParamName: "Hbsurface"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
    delete:
      tags:
      - "Honeybee Surface"
      summary: "Delete an existing hbsurface object"
      description: "Delete an hbsurface object in the database specifying the uuid\
        \ of the object"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the hbsurface."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "object succesfully deleted"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
        404:
          description: "object not found"
  /wea:
    get:
      tags:
      - "WEA"
      summary: "Get a list of WEA objects"
      description: "Retrieves a list of wea objects for a given filter."
      parameters:
      - name: "country"
        in: "query"
        description: "The countyr the EPW is from"
        required: false
        type: "string"
        x-exportParamName: "Country"
      responses:
        200:
          description: "A list of weas matching the query parameters"
          schema:
            $ref: "#/definitions/inline_response_200_9"
        404:
          description: "Couldn't find any weas matching your search query... :("
    post:
      tags:
      - "WEA"
      summary: "Create a new wea object"
      description: "Adds a new wea object to the list"
      parameters:
      - in: "body"
        name: "wea"
        description: "a wea object"
        required: true
        schema:
          $ref: "#/definitions/WeaSchema"
        x-exportParamName: "Wea"
      responses:
        204:
          description: "wea succesfully created."
          schema:
            $ref: "#/definitions/inline_response_204"
        400:
          description: "Could not create wea... :("
  /wea/{uuid}:
    get:
      tags:
      - "WEA"
      summary: "Get a specific wea object"
      description: "Returns a single wea object"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the wea."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "Succesfully returns the wea"
          schema:
            $ref: "#/definitions/inline_response_200_10"
        400:
          description: "The uuid provided is invalid"
        404:
          description: "The wea does not exist"
    put:
      tags:
      - "WEA"
      summary: "Modify an existing wea object"
      description: "Modifies any parameter (except uuid) of an wea object by completely\
        \ replacing the wea object. A finer grain method can be set up later."
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the wea."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      - in: "body"
        name: "wea"
        description: "a wea object"
        required: true
        schema:
          $ref: "#/definitions/WeaSchema"
        x-exportParamName: "Wea"
      responses:
        200:
          description: "Everything went smooth and well"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
    delete:
      tags:
      - "WEA"
      summary: "Delete an existing wea object"
      description: "Delete an wea object in the database specifying the uuid of the\
        \ object"
      parameters:
      - name: "uuid"
        in: "path"
        description: "The unique identifier of the wea."
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        200:
          description: "object succesfully deleted"
        400:
          description: "Bad request, something went wrong... :("
          schema:
            $ref: "#/definitions/inline_response_400"
        404:
          description: "object not found"
definitions:
  PointSchema:
    properties:
      x:
        type: "number"
      y:
        type: "number"
      z:
        type: "number"
    example:
      x: 0.80082819046101150206595775671303272247314453125
      y: 6.02745618307040320615897144307382404804229736328125
      z: 1.46581298050294517310021547018550336360931396484375
  VectorSchema:
    properties:
      x:
        type: "number"
      y:
        type: "number"
      z:
        type: "number"
    example:
      x: 5.962133916683182377482808078639209270477294921875
      y: 5.63737665663332876420099637471139430999755859375
      z: 2.3021358869347654518833223846741020679473876953125
  HoySchema:
    properties:
      hoy_id:
        type: "integer"
        description: "The hour of the year for a given set of results values"
      hoy:
        $ref: "#/definitions/HoySchema_hoy"
    example:
      hoy:
        indirect_value: 3.61607674925191080461672754609026014804840087890625
        direct_value: 9.301444243932575517419536481611430644989013671875
      hoy_id: 7
  StateSchema:
    properties:
      state_id:
        type: "string"
        description: "The id of a given state for the source of light"
      state:
        type: "array"
        items:
          $ref: "#/definitions/HoySchema"
    example:
      state_id: "state_id"
      state:
      - hoy:
          indirect_value: 3.61607674925191080461672754609026014804840087890625
          direct_value: 9.301444243932575517419536481611430644989013671875
        hoy_id: 7
      - hoy:
          indirect_value: 3.61607674925191080461672754609026014804840087890625
          direct_value: 9.301444243932575517419536481611430644989013671875
        hoy_id: 7
  SourceSchema:
    properties:
      source_id:
        type: "string"
        description: "The id of a source of light"
      source:
        type: "array"
        items:
          $ref: "#/definitions/StateSchema"
    example:
      source_id: "source_id"
      source:
      - state_id: "state_id"
        state:
        - hoy:
            indirect_value: 3.61607674925191080461672754609026014804840087890625
            direct_value: 9.301444243932575517419536481611430644989013671875
          hoy_id: 7
        - hoy:
            indirect_value: 3.61607674925191080461672754609026014804840087890625
            direct_value: 9.301444243932575517419536481611430644989013671875
          hoy_id: 7
      - state_id: "state_id"
        state:
        - hoy:
            indirect_value: 3.61607674925191080461672754609026014804840087890625
            direct_value: 9.301444243932575517419536481611430644989013671875
          hoy_id: 7
        - hoy:
            indirect_value: 3.61607674925191080461672754609026014804840087890625
            direct_value: 9.301444243932575517419536481611430644989013671875
          hoy_id: 7
  AnalysisPointSchema:
    properties:
      location:
        $ref: "#/definitions/PointSchema"
      direction:
        $ref: "#/definitions/VectorSchema"
      values:
        type: "array"
        items:
          $ref: "#/definitions/SourceSchema"
    example:
      values:
      - source_id: "source_id"
        source:
        - state_id: "state_id"
          state:
          - hoy:
              indirect_value: 3.61607674925191080461672754609026014804840087890625
              direct_value: 9.301444243932575517419536481611430644989013671875
            hoy_id: 7
          - hoy:
              indirect_value: 3.61607674925191080461672754609026014804840087890625
              direct_value: 9.301444243932575517419536481611430644989013671875
            hoy_id: 7
        - state_id: "state_id"
          state:
          - hoy:
              indirect_value: 3.61607674925191080461672754609026014804840087890625
              direct_value: 9.301444243932575517419536481611430644989013671875
            hoy_id: 7
          - hoy:
              indirect_value: 3.61607674925191080461672754609026014804840087890625
              direct_value: 9.301444243932575517419536481611430644989013671875
            hoy_id: 7
      - source_id: "source_id"
        source:
        - state_id: "state_id"
          state:
          - hoy:
              indirect_value: 3.61607674925191080461672754609026014804840087890625
              direct_value: 9.301444243932575517419536481611430644989013671875
            hoy_id: 7
          - hoy:
              indirect_value: 3.61607674925191080461672754609026014804840087890625
              direct_value: 9.301444243932575517419536481611430644989013671875
            hoy_id: 7
        - state_id: "state_id"
          state:
          - hoy:
              indirect_value: 3.61607674925191080461672754609026014804840087890625
              direct_value: 9.301444243932575517419536481611430644989013671875
            hoy_id: 7
          - hoy:
              indirect_value: 3.61607674925191080461672754609026014804840087890625
              direct_value: 9.301444243932575517419536481611430644989013671875
            hoy_id: 7
      location:
        x: 0.80082819046101150206595775671303272247314453125
        y: 6.02745618307040320615897144307382404804229736328125
        z: 1.46581298050294517310021547018550336360931396484375
      direction:
        x: 5.962133916683182377482808078639209270477294921875
        y: 5.63737665663332876420099637471139430999755859375
        z: 2.3021358869347654518833223846741020679473876953125
  AnalysisGridSchema:
    properties:
      name:
        type: "string"
        description: "The name of the grid"
      analysis_points:
        type: "array"
        items:
          $ref: "#/definitions/AnalysisPointSchema"
      window_groups:
        type: "array"
        items:
          type: "string"
          description: "Name of a window group which contributes to the grid."
    example:
      analysis_points:
      - values:
        - source_id: "source_id"
          source:
          - state_id: "state_id"
            state:
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
          - state_id: "state_id"
            state:
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
        - source_id: "source_id"
          source:
          - state_id: "state_id"
            state:
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
          - state_id: "state_id"
            state:
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
        location:
          x: 0.80082819046101150206595775671303272247314453125
          y: 6.02745618307040320615897144307382404804229736328125
          z: 1.46581298050294517310021547018550336360931396484375
        direction:
          x: 5.962133916683182377482808078639209270477294921875
          y: 5.63737665663332876420099637471139430999755859375
          z: 2.3021358869347654518833223846741020679473876953125
      - values:
        - source_id: "source_id"
          source:
          - state_id: "state_id"
            state:
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
          - state_id: "state_id"
            state:
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
        - source_id: "source_id"
          source:
          - state_id: "state_id"
            state:
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
          - state_id: "state_id"
            state:
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
            - hoy:
                indirect_value: 3.61607674925191080461672754609026014804840087890625
                direct_value: 9.301444243932575517419536481611430644989013671875
              hoy_id: 7
        location:
          x: 0.80082819046101150206595775671303272247314453125
          y: 6.02745618307040320615897144307382404804229736328125
          z: 1.46581298050294517310021547018550336360931396484375
        direction:
          x: 5.962133916683182377482808078639209270477294921875
          y: 5.63737665663332876420099637471139430999755859375
          z: 2.3021358869347654518833223846741020679473876953125
      name: "name"
      window_groups:
      - "window_groups"
      - "window_groups"
  EpwSchema:
    required:
    - "data"
    - "header"
    - "location"
    properties:
      header:
        type: "array"
        items:
          type: "string"
        maxItems: 8
        minItems: 8
      location:
        $ref: "#/definitions/EpwLocationSchema"
      data:
        type: "array"
        items:
          $ref: "#/definitions/DataCollectionSchema"
    example:
      data:
      - data:
        - standard: "SI"
          nickname: "null"
        - standard: "SI"
          nickname: "null"
        header: "{}"
      - data:
        - standard: "SI"
          nickname: "null"
        - standard: "SI"
          nickname: "null"
        header: "{}"
      header:
      - "header"
      - "header"
      - "header"
      - "header"
      - "header"
      - "header"
      - "header"
      - "header"
      location:
        elevation: 1.46581298050294517310021547018550336360931396484375
        city: "city"
        latitude: -75.5850925717017929628127603791654109954833984375
        time_zone: "time_zone"
        longitude: 36.98842259053452607986400835216045379638671875
  EpwLocationSchema:
    properties:
      city:
        type: "string"
      latitude:
        type: "number"
        minimum: -90
        maximum: 90
      longitude:
        type: "number"
        minimum: -180
        maximum: 180
      time_zone:
        type: "string"
      elevation:
        type: "number"
    example:
      elevation: 1.46581298050294517310021547018550336360931396484375
      city: "city"
      latitude: -75.5850925717017929628127603791654109954833984375
      time_zone: "time_zone"
      longitude: 36.98842259053452607986400835216045379638671875
  DataCollectionSchema:
    required:
    - "data"
    properties:
      header:
        type: "object"
        properties: {}
      data:
        type: "array"
        items:
          $ref: "#/definitions/DataTypeSchema"
    example:
      data:
      - standard: "SI"
        nickname: "null"
      - standard: "SI"
        nickname: "null"
      header: "{}"
  DataTypeSchema:
    required:
    - "nickname"
    - "standard"
    properties:
      standard:
        type: "string"
        enum:
        - "SI"
        - "IP"
      nickname:
        type: "string"
        default: "null"
    example:
      standard: "SI"
      nickname: "null"
  MaterialSchema:
    properties:
      type:
        type: "string"
        description: "The type of material"
    example:
      type: "opaque"
      material:
        name: "HoneyComb"
        type: "plastic"
        r_reflectance: 0.40000000000000002220446049250313080847263336181640625
        g_reflectance: 0.5
        b_reflectance: 0.200000000000000011102230246251565404236316680908203125
        refraction: 0.40000000000000002220446049250313080847263336181640625
        specularity: 0.01000000000000000020816681711721685132943093776702880859375
        roughness: 0.0299999999999999988897769753748434595763683319091796875
        modifier: "void"
  TranslucentMaterialSchema:
    properties:
      name:
        type: "string"
        description: "Name of the material"
      r_transmittance:
        type: "number"
        description: "Transmittance for red"
        minimum: 0
        maximum: 1
      g_transmittance:
        type: "number"
        description: "Transmittance for green"
        minimum: 0
        maximum: 1
      b_transmittance:
        type: "number"
        description: "Transmittance for blue"
        minimum: 0
        maximum: 1
      refraction:
        type: "number"
        description: "Index of refraction"
        minimum: 0
        maximum: 1
      modifier:
        type: "string"
        default: "void"
    example:
      r_transmittance: 0.080082819046101150206595775671303272247314453125
      refraction: 0.59621339166831821554382031536079011857509613037109375
      modifier: "void"
      name: "name"
      b_transmittance: 0.146581298050294517310021547018550336360931396484375
      g_transmittance: 0.602745618307040320615897144307382404804229736328125
  OpaqueMaterialSchema:
    properties:
      name:
        type: "string"
        description: "Name of the material"
      type:
        type: "string"
        description: "Material type"
        enum:
        - "metal"
        - "plastic"
      r_reflectance:
        type: "number"
        description: "Reflectance for red"
        minimum: 0
        maximum: 1
      g_reflectance:
        type: "number"
        description: "Reflectance for green"
        minimum: 0
        maximum: 1
      b_reflectance:
        type: "number"
        description: "Reflectance for blue"
        minimum: 0
        maximum: 1
      refraction:
        type: "number"
        description: "Index of refraction"
        minimum: 0
        maximum: 1
      specularity:
        type: "number"
        description: "Material specularity"
      roughness:
        type: "number"
        description: "Material roughness"
      modifier:
        type: "string"
        default: "void"
    example:
      r_reflectance: 0.080082819046101150206595775671303272247314453125
      b_reflectance: 0.146581298050294517310021547018550336360931396484375
      refraction: 0.59621339166831821554382031536079011857509613037109375
      roughness: 2.3021358869347654518833223846741020679473876953125
      modifier: "void"
      name: "name"
      g_reflectance: 0.602745618307040320615897144307382404804229736328125
      specularity: 5.63737665663332876420099637471139430999755859375
      type: "metal"
  LightSourceMaterialSchema:
    properties:
      name:
        type: "string"
        description: "Name of the material"
      red:
        type: "number"
        description: "A positive value for the Red channel of the glow"
        minimum: 0
        maximum: 1
      green:
        type: "number"
        description: "A positive value for the Green channel of the glow"
        minimum: 0
        maximum: 1
      blue:
        type: "number"
        description: "A positive value for the Blue channel of the glow"
        minimum: 0
        maximum: 1
      radius:
        type: "number"
        description: "Maximum radius for shadow testing"
      modifier:
        type: "string"
        default: "void"
    example:
      red: 0.080082819046101150206595775671303272247314453125
      green: 0.602745618307040320615897144307382404804229736328125
      blue: 0.146581298050294517310021547018550336360931396484375
      modifier: "void"
      name: "name"
      radius: 5.962133916683182377482808078639209270477294921875
  BSDFMaterialSchema:
    properties:
      name:
        type: "string"
        description: "Name of the material"
      xml_data:
        type: "string"
        description: "A string of the original XML"
      up_orientation:
        type: "number"
      thickness:
        type: "number"
      modifier:
        type: "string"
        default: "void"
  HoyListSchema:
    type: "array"
    description: "A list of hours of the year"
    items:
      type: "integer"
      description: "min key value 0 and max key value 8760"
  AnalysisType:
    type: "integer"
    description: "0 - illuminance(lux), 1 - radiation (kwh), 2 - luminance (Candela)"
    enum:
    - "0"
    - "1"
    - "2"
  RadianceParameters:
    type: "string"
    description: "A standard radiance parameter string"
    example: "-ab 5 -aa 0.05 -ar 128"
  SkySchema:
    properties:
      location:
        $ref: "#/definitions/EpwLocationSchema"
      hour:
        type: "integer"
        description: "hour of the day - minvalue 0 and max value 23"
      day:
        type: "integer"
        description: "day of the month - minvalue 1 and max value 31"
      month:
        type: "integer"
        description: "month of the year - minvalue 1 and max value 12"
      north:
        type: "number"
        description: "angle in degrees between 0-360 to indicate North"
      sky_type:
        type: "integer"
        description: "0 - Sunny with sun, 1 - sunny without sun, 2 - intermediate\
          \ with sun, 3 - intermediate without sun, 4 - cloudy sky, 5 - uniform sky"
    example:
      hour: 0
      month: 1
      sky_type: 5
      north: 5.962133916683182377482808078639209270477294921875
      location:
        elevation: 1.46581298050294517310021547018550336360931396484375
        city: "city"
        latitude: -75.5850925717017929628127603791654109954833984375
        time_zone: "time_zone"
        longitude: 36.98842259053452607986400835216045379638671875
      day: 6
  SkyMtxSchema:
    properties:
      wea:
        $ref: "#/definitions/WeaSchema"
      sky_density:
        type: "integer"
        description: "1 - Tregenza Sky, 2 - Reinhart Sky, etc. (Default - 1)"
      north:
        type: "number"
        description: "angle in degrees between 0-360 to indicate North"
        minimum: 0
        maximum: 360
      hoys:
        $ref: "#/definitions/HoyListSchema"
      mode:
        type: "integer"
        description: "sky mode"
      suffix:
        type: "string"
        description: "Suffix for the sky matrix"
    example:
      mode: 1
      hoys: ""
      wea:
        diffuse_horizontal_radiation:
          data:
          - standard: "SI"
            nickname: "null"
          - standard: "SI"
            nickname: "null"
          header: "{}"
        header:
        - "header"
        - "header"
        - "header"
        - "header"
        - "header"
        - "header"
        - "header"
        - "header"
        direct_normal_radiation:
          data:
          - standard: "SI"
            nickname: "null"
          - standard: "SI"
            nickname: "null"
          header: "{}"
        location:
          elevation: 1.46581298050294517310021547018550336360931396484375
          city: "city"
          latitude: -75.5850925717017929628127603791654109954833984375
          time_zone: "time_zone"
          longitude: 36.98842259053452607986400835216045379638671875
      north: 216.98842259053452607986400835216045379638671875
      sky_density: 0
      suffix: "suffix"
  GridBasedRecipeSchema:
    properties:
      uuid:
        type: "string"
        description: "The unique identifier of the recipe"
    example:
      uuid: "709116b8-d71e-4d50-bb54-216e83ad9f3f"
      recipe:
        id: "annual"
        type: "gridbased"
        sky_mtx:
          wea: "wea Json object"
          sky_density: 1
          north: 0
          mode: 2
          suffix: null
        analysis_grids:
        - "list of analysis grids"
        surfaces:
        - "list of surfaces"
        analysis_type: 2
        rad_parameters: "-ab 5 -aa 0.05 -ar 128"
  DaylightFactorGridBasedSchema:
    properties:
      id:
        type: "string"
        enum:
        - "daylight_factor"
      type:
        type: "string"
        enum:
        - "gridbased"
      analysis_grids:
        type: "array"
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: "array"
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      rad_parameters:
        $ref: "#/definitions/RadianceParameters"
    example:
      analysis_grids:
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        name: "name"
        window_groups:
        - "window_groups"
        - "window_groups"
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        name: "name"
        window_groups:
        - "window_groups"
        - "window_groups"
      surfaces:
      - parent_surface:
          rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          surface_type: 0.48049691427660690123957465402781963348388671875
        child_surfaces:
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          surface_type: 0.48049691427660690123957465402781963348388671875
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          surface_type: 0.48049691427660690123957465402781963348388671875
      - parent_surface:
          rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          surface_type: 0.48049691427660690123957465402781963348388671875
        child_surfaces:
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          surface_type: 0.48049691427660690123957465402781963348388671875
        - rad_properties:
            material:
              type: "opaque"
              material:
                name: "HoneyComb"
                type: "plastic"
                r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                g_reflectance: 0.5
                b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                refraction: 0.40000000000000002220446049250313080847263336181640625
                specularity: 0.01000000000000000020816681711721685132943093776702880859375
                roughness: 0.0299999999999999988897769753748434595763683319091796875
                modifier: "void"
            uuid: "uuid"
          vertices:
          - ""
          - ""
          name: "name"
          surface_states:
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          - surface_properties:
              rad_properties:
                type: "opaque"
                material:
                  name: "HoneyComb"
                  type: "plastic"
                  r_reflectance: 0.40000000000000002220446049250313080847263336181640625
                  g_reflectance: 0.5
                  b_reflectance: 0.200000000000000011102230246251565404236316680908203125
                  refraction: 0.40000000000000002220446049250313080847263336181640625
                  specularity: 0.01000000000000000020816681711721685132943093776702880859375
                  roughness: 0.0299999999999999988897769753748434595763683319091796875
                  modifier: "void"
              surface_type: 3.61647370984224192369538286584429442882537841796875
            name: "name"
          surface_type: 0.48049691427660690123957465402781963348388671875
      rad_parameters: "-ab 5 -aa 0.05 -ar 128"
      id: "daylight_factor"
      type: "gridbased"
  DirectReflectionGridBasedSchema:
    properties:
      id:
        type: "string"
        enum:
        - "direct_reflection"
      type:
        type: "string"
        enum:
        - "gridbased"
      analysis_grids:
        type: "array"
        items:
          $ref: "#/definitions/AnalysisGridSchema"
      surfaces:
        type: "array"
        items:
          $ref: "#/definitions/HBSurfaceSchema"
      location:
        $ref: "#/definitions/EpwLocationSchema"
      hoys:
        $ref: "#/definitions/HoyListSchema"
      sun_vectors:
        type: "array"
        description: "A list of vectors if location is not provided"
        items:
          $ref: "#/definitions/VectorSchema"
    example:
      analysis_grids:
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        name: "name"
        window_groups:
        - "window_groups"
        - "window_groups"
      - analysis_points:
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
            y: 6.02745618307040320615897144307382404804229736328125
            z: 1.46581298050294517310021547018550336360931396484375
          direction:
            x: 5.962133916683182377482808078639209270477294921875
            y: 5.63737665663332876420099637471139430999755859375
            z: 2.3021358869347654518833223846741020679473876953125
        - values:
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          - source_id: "source_id"
            source:
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
            - state_id: "state_id"
              state:
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
              - hoy:
                  indirect_value: 3.61607674925191080461672754609026014804840087890625
                  direct_value: 9.301444243932575517419536481611430644989013671875
                hoy_id: 7
          location:
            x: 0.80082819046101150206595775671303272247314453125
[...]
